@tailwind base;
@tailwind components;
@tailwind utilities;

/*** SWIPE LIST OVERRIDES **/
.swipe-action__leading {
    background-color: #134db9;
    color: #ffff;
    /* margin-bottom: 2rem; */
}

.swipe-action__trailing {
    background-color: #db2777;
    /* margin-bottom: 2rem; */
    color: #ffff;
}

.swipeable-list .swipe-action {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: right;
}
